<div class="banner">
	<div>
		<div class="logo">
			<%= image_tag 'logo.png' %>
			<div class="textlogo">
				ODIN
			</div>
		</div>
		<div class="footer">
			Photo by Halie West on Unsplashed
		</div>
	</div>
</div>